:root {
  /* Colors */

  /* Primary */
  --Light-red: hsl(0, 100%, 63%);
  --Light-orange: hsl(27, 100%, 92%);
  --Orangey-yellow: hsl(39, 100%, 56%);
  --Green-teal: hsl(166, 100%, 37%);
  --Cobalt-blue: hsl(234, 85%, 45%);

  /* Gradients */
  --Light-slate-blue-background: hsl(252, 100%, 67%);
  --Light-royal-blue-background: hsl(241, 81%, 54%);

  --Violet-blue-circle: hsla(256, 72%, 46%, 1);
  --Persian-blue-circle: hsla(241, 72%, 46%, 0);

  /* Neutral */
  --White: hsl(0, 0%, 100%);
  --Pale-blue: hsl(221, 100%, 96%);
  --Light-lavender: hsl(241, 100%, 89%);
  --Dark-gray-blue: hsl(224, 30%, 27%);

  /* Fonts */
  --font-size-p: 18px;
  --font-family: "Hanken Grotesk", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  font-size: var(--font-size-p);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container {
  width: 45%;
}
.card {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.content_1 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(
    to bottom,
    var(--Light-royal-blue-background),
    var(--Light-slate-blue-background)
  );

  width: 50%;
  padding: 4rem;
  border-radius: 15px;
  position: relative;
  left: 0.4rem;
}

.result {
  color: var(--Light-lavender);
  font-size: 1.5em;
  font-weight: 700;
  margin-bottom: 1rem;
}
.number_groups {
  padding: 1.5rem;
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
  background: linear-gradient(
    to bottom,
    var(--Violet-blue-circle),
    var(--Persian-blue-circle)
  );
  border-radius: 50%;
}

.result_number {
  color: var(--White);
  font-size: 2.5em;
  font-weight: 700;
}

.result_number_percentage {
  color: var(--Light-lavender);
  font-weight: 400;
  margin-bottom: 0.5rem;
}

.great {
  color: var(--White);
  font-weight: 700;
  font-size: 2rem;
  margin-block: 1rem;
}

.description {
  color: var(--Light-lavender);
  font-weight: 400;
  text-align: center;
  font-size: 1rem;
}
.content_2 {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  background: var(--White);
  width: 50%;
  padding: 2rem;
  border-radius: 0 20px 20px 0;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}
.summary {
  color: var(--Dark-gray-blue);
  font-weight: 700;
  font-size: 1.5em;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.all_stats {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  width: 100%;
  margin-top: 1rem;
}
.stats_reaction {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: hsla(0, 100%, 67%, 0.1);
  padding: 0.5rem;
  border-radius: 10px;
}
.reaction {
  color: var(--Light-red);
  font-size: 1rem;
  font-weight: 700;
}
.ratio {
  display: flex;
  gap: 5px;
}
.ratio p {
  font-weight: 600;
}

.ratio span {
  color: var(--Light-lavender);
  font-weight: 600;
}
.image_and_name_reaction {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}
.stats_memory {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: hsla(39, 100%, 56%, 0.1);
  padding: 0.5rem;
  border-radius: 10px;
}
.image_and_name_memory {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}
.stats_verbal {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.image_and_name_verbal {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}
.stats_visual {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.image_and_name_visual {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}
